header {
	text-align: center;
	padding: 30px;
  background-color: rgb(67, 140, 185);
  color: white;
	margin-bottom: 20px;
}
header h1 {
  font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
  font-size: 5em;
}

header span {
  margin-top: 10px;
  font-size: 5em;
}

.features ul {
  --padding-left:20px;
  text-indent:2px;
  list-style: none;
  --list-style-position:outside;
	list-style: none;
	padding: 0;
  --margin: 20px;
}
.features li {
  font-size: 1.75em;
  font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
  margin: 5px 0px;
}
.features li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
	color: rgb(67, 140, 185);
	margin-left: 0em; margin-right: .300em;
}

@media only screen and (max-width: 480px) {
   header h1 {
     font-size: 2.5em;
   }
	 header h3 {
		 font-size: 1.25em;
	 }
	 .features li {
	   font-size: 1.25em
	 }
}
@media only screen and (max-width: 360px) {
   header h1 {
     font-size: 2.5em;
   }
	 header h3 {
		 font-size: 1em;
	 }
	 .features li {
	   font-size: 1em
	 }
}
