extends ../../skeleton.pug

block append html_js
  script(src="/public/js/modernizr.js")

block append css
  link(href='/public/css/books.css', rel='stylesheet', type="text/css")

block content
  header.row
    .container
      h2 All Books

  .container
    include ../../components/books.pug
    -let booksLength = books.length
    if books.length <= 0
      #noBooks.jumbotron.jumbotron-fluid
        h3.display-3.text-muted.text-center No books added

block append js
  script(type="text/javascript", src="/controllers/book.client.js")
