extends ../../skeleton.pug

block append html_js
  script(src="/public/js/modernizr.js")

block append css
  link(href='/public/css/books.css', rel='stylesheet', type="text/css")

block content
  - let statusColor = {pending: 'info', accepted: 'primary', denied: 'danger', canceled: 'warning', finished: 'success'}
  header.row
    .container
      h2 My Trades

  .container
    h3 Books I requested
    hr
    .row
        if (requester.length <= 0)
          .jumbotron.jumbotron-fluid
            h3.display-3.text-muted.text-center No trades yet.
        else
          each trade in requester
            include ../../components/trade.pug

    h3 Books requested to me
    hr
    .row
        if (requested.length <= 0)
          .jumbotron.jumbotron-fluid
            h3.display-3.text-muted.text-center No trades yet.
        else
          each trade in requested
            include ../../components/trade.pug

block append js
  script(type="text/javascript", src="/controllers/book.client.js")
