extends ../skeleton.pug

block append css
  link(href='/public/css/index.css', rel='stylesheet', type='text/css')

block content
  header.row
    .container
      h1 Books to All
      h3 Share a book, share the world.
      span.glyphicon.glyphicon-leaf
  .features.row
    .container
      ul
        li Catalogue your books online
        li See all of the books our users own
        li Request to borrow other users' books
        li Easily manage books and requests
