block append css
  link(href='/public/css/books.css', rel='stylesheet', type="text/css")
block append html_js
  script(src="/public/js/modernizr.js")

.books
  each book in books
    .row
      .col-xs-6.col-sm-3.col-sm-offset-0
        .book
          a(href="/")
            img.img-responsive(alt="book", src="http://srobbin.com/wp-content/uploads/2012/05/book.jpg")
