extends skeleton.pug

block append css
  link(href='/public/css/index.css', rel='stylesheet', type='text/css')

block content
  header.row
      h1 Books to All
      h3 Share a book, share the world.
      span.glyphicon.glyphicon-leaf
  .features.row
    .col-md-offset-1.col-md-8
      ul
        li Catalogue your books online
        li See all of the books our users own
        li Request to borrow other users' books
        li Easily manage books and requests
