extends skeleton.pug

block content
  header.row
    .col-md-offset-3.col-md-6
      h1 Books to All
      h3 Share a book, share the world.
      span.glyphicon.glyphicon-leaf
  .container-fluid.row
    .features.col-md-offset-2.col-md-8
      ul
        li Catalogue your books online
        li See all of the books our users own
        li Request to borrow other users' books
        li Easily manage books and requests from your dashboard
