extends skeleton.pug

block content
  .container
    .row
      header
        h3(style="float: left") My Books
        form(style="float: right")(name="addBookForm")
          .input-group
            input.form-control(type="text", name='book', placeholder="Search and add book", tabindex='1', required)
            span.input-group-btn
              button.btn.btn-default(type="submit", tabindex='2')
                span.glyphicon.glyphicon-search
    .row
      hr
      include book.pug

block append js
  script(src="/controllers/book.client.js")
