extends skeleton.pug

block content
  header.row
    .container
      h3 My Trades

  .container
    h3 Books I requested
    hr
    .jumbotron.jumbotron-fluid
      h3.display-3.text-muted.text-center No trades yet.
    h3 Books requested to me
    hr
    .jumbotron.jumbotron-fluid
      h3.display-3.text-muted.text-center No trades yet.
